div.row {
    display: flex;
    flex-direction: row;

    &>div {
        padding: 12px 20px;
        border: 2px solid black;
        width: 100px;
        margin: -1px;

        display: flex;
        flex-direction: row;
        div {
            flex: 1;
            text-align: right;
        }

        div.operator {
            text-align: center;
        }

        div.eq {
            padding-right: 5px;
        }
    }


    .space-box {
        height: 20px;
        width: 30px;
        border-bottom: 1px solid;
    }
}